<div class="container">
  <div class="row">
    <div class="center-form panel">
      <div class="panel-body">
        <h2 class="text-center">Change password</h2>
        <form method="post" ng-submit="change_password()" name="cgpassForm">
          <div class="form-group has-feedback" ng-class="{ 'has-error' : cgpassForm.old_password.$invalid && cgpassForm.old_password.$dirty }">
            <input class="form-control input-lg" type="password" name="old_password" ng-model="password.old_password" placeholder="Old Password" required autofocus>
            <span class="ion-person form-control-feedback"></span>
            <div class="help-block text-danger" ng-if="cgpassForm.old_password.$dirty" ng-messages="cgpassForm.old_password.$error">
              <div ng-message="required">You must enter your name.</div>
            </div>
          </div>
          <div class="form-group has-feedback" ng-class="{ 'has-error' : cgpassForm.new_password.$invalid && cgpassForm.new_password.$dirty }">
            <input password-strength class="form-control input-lg" type="password" name="new_password" ng-model="password.new_password" placeholder="New Password" required>
            <span class="ion-key form-control-feedback"></span>
            <div class="help-block text-danger" ng-if="cgpassForm.new_password.$dirty" ng-messages="cgpassForm.new_password.$error">
              <div ng-message="required">Password is required.</div>
            </div>
          </div>
          <div class="form-group has-feedback" ng-class="{ 'has-error' : cgpassForm.new_password_2.$invalid && cgpassForm.new_password_2.$dirty }">
            <input password-match="password.new_password" class="form-control input-lg" type="password" name="new_password_2" ng-model="new_password_2" placeholder="Confirm Password">
            <span class="ion-key form-control-feedback"></span>
            <div class="help-block text-danger" ng-if="cgpassForm.new_password_2.$dirty" ng-messages="cgpassForm.new_password_2.$error">
              <div ng-message="compareTo">Password must match.</div>
            </div>
          </div>
          <button type="submit" ng-disabled="cgpassForm.$invalid" class="btn btn-lg btn-block btn-primary">Confirm</button>
        </form>
      </div>
    </div>
  </div>
</div>
