<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">Article</div>
    <div class="panel-body">
      <form method="post" ng-submit="createArticle()" name="articleForm">
        <div class="form-group has-feedback" ng-class="{ 'has-error' : articleForm.name.$invalid && articleForm.name.$dirty }">
          <label for="name">Article Name</label>
          <input class="form-control" type="text" name="name" ng-model="article.name" placeholder="Name" required autofocus>
          <div class="help-block text-danger" ng-if="articleForm.name.$dirty" ng-messages="articleForm.name.$error">
            <div ng-message="required">You must enter article name.</div>
          </div>
        </div>
        <div class="form-group has-feedback" ng-class="{ 'has-error' : articleForm.description.$invalid && articleForm.description.$dirty }">
          <label for="name">Article Description</label>
          <input class="form-control" type="text" id="description" name="description" ng-model="article.description" placeholder="Description" required>
          <div class="help-block text-danger" ng-if="articleForm.description.$dirty" ng-messages="articleForm.description.$error">
            <div ng-message="required">Article description is required.</div>
          </div>
        </div>
        <div class="form-group has-feedback" ng-class="{ 'has-error' : articleForm.qrcode.$invalid && articleForm.qrcode.$dirty }">
          <label for="name">Article QR Code if available</label>
          <input class="form-control" type="number" id="qrcode" name="qrcode" ng-model="article.qrcode" min="1" max="999999999999" placeholder="QR Code maximal 12 characters and only number allowed">
        </div>
        <div class="modal-footer">
          <button type="submit" ng-disabled="articleForm.$invalid" class="btn btn-default">Create</button>
        </div>
      </form>
    </div>
 </div>
</div>
