<div class="container">
  <div class="row">
    <div class="center-form panel">
      <div class="panel-body">
        <h2 class="text-center">Reset your Password</h2>
        <form method="post" ng-submit="forgot_password()" name="fgpassForm">
          <p>Please enter you email here, and we will send you an email with a link that will create a new, random password for your account.</p>
          <div class="form-group has-feedback" ng-class="{ 'has-error' : fgpassForm.email.$invalid && fgpassForm.email.$dirty }">
            <input class="form-control input-lg" type="text" name="email" ng-model="user.email" placeholder="Email" required autofocus>
            <span class="ion-at form-control-feedback"></span>
            <div class="help-block text-danger" ng-if="fgpassForm.email.$dirty" ng-messages="fgpassForm.email.$error">
              <div ng-message="required">Your email address is required.</div>
              <div ng-message="pattern">Your email address is invalid.</div>
            </div>
          </div>
          <button type="submit" ng-disabled="fgpassForm.$invalid" class="btn btn-lg  btn-block btn-success">Send</button>
        </form>
      </div>
    </div>
  </div>
</div>
