<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">Article</div>
    <div class="panel-body">
      <legend>Articles</legend>
      <p>Article name : {{article.name}}</p>
      <p>Article description : {{article.description}}</p>
      <p>Article owner : <a href="#" ui-sref="user({id : article.user_id})">{{article.username}}</a></p>
      <p>Article QR Code : </p>
      <qrcode class="article" version="{{v}}" error-correction-level="{{article.level}}" size="{{article.size}}" data="{{article.qrcode}}" download></qrcode>
    </div>
  </div>
</div>
